body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, p {
  text-align: center;
  color: #222;
}

.container {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.character-name {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1rem 0 .5rem;
}

.character-status {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 1.5rem;
}

.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4em;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
}

.button-group button {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
}
